body {
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #333; /* Цвет основного текста */
}
h1 {
    color: #a52a2a; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}

button{

    touch-action: manipulation;
    background-color: #4CAF50; /* Green */
    border: 1px solid #4CAF50;;
    color: white;
    padding: 1px 1px 1px 1px;
// text-align: center;
    text-decoration: none;
//display: inline-block;
    border-radius: 8px;
    font-size:70px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 75px;
    height: 75px;
    margin: 5px 5px 5px 5px;





}

table{

    margin: 5px 5px 5px 5px;
}

#result1{
    background-color: #46af28; /* Green */
    border: 1px solid #4CAF50;;
    color: white;
    padding: 1px 1px 1px 1px;
    text-align: right;
//text-decoration: none;
//display: inline-block;
    border-radius: 8px;
    font-size: 70px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 350px;
    height: 75px;
    top: 180px;
    margin: 10px 5px 5px 5px;


}

.Title{
    top: 10px;
    position: absolute;
    background-color: #46af28; /* Green */
    border: 1px solid #4CAF50;;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 440px;
    height: 100px;
    border-radius: 8px;
    font-size: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center;


}
